.formContainer {
    max-width: 600px;
    width: 100%;
    display: block;
    margin: 20px auto;
    border: 1px solid #b4b0b0;
    padding: 12px 8px;
    border-radius: 8px;

    input {
        display: block;
        width: 95%;
        padding: 12px 8px;
        border-radius: 8px;
        margin-bottom: 15px;

    }

}